@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,700);

$setPrefix: '' , -moz- , -webkit-;
@mixin PropertySetPrefix($name, $value) {
	@each $prefix in $setPrefix {
		#{$prefix}#{$name}: $value;
	}
}

* {
	$transProperty: color,background-color,border,opacity;
	@include PropertySetPrefix(transition-property, $transProperty);
	@include PropertySetPrefix(transition-duration, 0.3s);
	@include PropertySetPrefix(transition-timing-function, ease);
	-webkit-text-size-adjust: none;
}

a {
	position: relative;
	color: #00af4d;
	text-decoration: none;
	@include PropertySetPrefix(transition-property, top);
	@include PropertySetPrefix(transition-duration, 0.1s);
	@include PropertySetPrefix(transition-timing-function, ease);
	&:hover {
		color: #00afaf;
	}
	&:active {
		color: teal;
		top: 2px;
	}
}

ul {
	list-style-type: none;
	padding: 1em;
}


body {
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 12pt;
	font-family: 'Roboto', sans-serif;
	background-color: whitesmoke;
}

header[role=banner] {
	h1 {
		margin: 0;
		line-height: 150px;
		font-size: 3em;
		text-align: center;
	}
	.description {
		font-size: 0.8em;
		text-align: center;
	}
}


[role=main] {
	position: relative;
	min-height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	.article-wrapper {
		position: relative;
		padding: 6em 0;
		article {
			position: relative;
			display: block;
			width: 300px;
			margin: 0 auto;
			background-color: #d7f0ff;
			header {
				position: relative;
				background-color: #d0edff;
				h1 {
					margin: 0;
					padding: 1em;
				}
				&::after {
					content: '';
					position: absolute;
					width: 10px;
					height: 10px;
					bottom: -5px;
					left: 2em;
					background-color: #d0edff;
					@include PropertySetPrefix(transform, rotate(45deg));
				}
			}
			p {
				margin: 0;
				padding: 1em;
				background-color: #e5f5ff;
			}
			img {
				display: block;
				max-width: 100%;
			}
			iframe {
				display: block;
				max-width: 100%;
			}
			.video p {
				padding: 0;
			}
			blockquote {
				margin: 0;
				padding: 1em;
				font-family: serif;
				line-height: 1.5em;
				&::before {
					content: '“';
				}
				&::after {
					content: '”';
				}
			}
			footer {
				padding: 1em;
				background-color: #eff9ff;
			}
		}
		@media screen and (min-width: 768px) {
			article {
				width: 500px;
			}
		}
	}
}